---
import { Image } from 'astro:assets';
import relax from '../images/relax.webp';
import eyelashExtension from '../images/eyelashExtension.webp';
import lips from '../images/lips.webp';
---

<section class="flex gap-10 my-[100px]" id="aboutUs">
  <div class="relative w-1/2 flex justify-center items-center">
    <Image class="w-2/3 rounded-lg" src={relax} alt="relax image" />
    <Image
      class="w-1/3 h-1/3 rounded-lg absolute bottom-0 right-0"
      src={lips}
      alt="lips image"
    />
    <Image
      class="w-1/3 rounded-lg absolute left-0 top-0"
      src={eyelashExtension}
      alt="eyelashExtension image"
    />
  </div>
  <div class="w-1/2 pr-[30px]">
    <p class="sectionTitle">ABOUT US</p>
    <h2 class="title mt-[10px]">
      Beauty is about being <br />comfortable in your<br /> own skin
    </h2>
    <p class="mt-[10px]">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quia eos
      similique tenetur, exercitationem earum asperiores eligendi eum, mollitia
      debitis saepe provident cum neque voluptatem corporis, obcaecati quibusdam
      quo magnam?
    </p>
    <button class="accentButton mt-[35px]">Learn More</button>
  </div>
</section>
