<section class="flex">
  <div class="w-1/2 flex justify-center items-center">IMAGES</div>
  <div class="w-1/2">
    <p class="sectionTitle">ABOUT US</p>
    <h2 class="title">Beauty is about being comfortable in your own skin</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quia eos
      similique tenetur, exercitationem earum asperiores eligendi eum, mollitia
      debitis saepe provident cum neque voluptatem corporis, obcaecati quibusdam
      quo magnam?
    </p>
    <button class="accentButton">Learn More</button>
  </div>
</section>
