---
const style = [
  {
    input:
      'bg-[#ccc] focus:outline-accent px-3 py-3 border border-[#ccc] hover:bg-pinkLight hover:border-accent w-2/5 rounded-lg',
  },
] as const;
---

<section class="text-center py-[70px] px-[60px] flex flex-col items-center">
  <p class="sectionTitle">APPOINMENT</p>
  <h2 class="title mt-[20px]">Make an appoinment</h2>
  <form
    action=""
    class="flex gap-10 flex-wrap px-[100px] py-[50px] justify-center"
  >
    <input class="form_input" placeholder="Your name" type="text" name="name" />
    <input
      class="form_input"
      placeholder="Your e-mail"
      type="email"
      name="email"
    />
    <input
      class="form_input"
      placeholder="Your Phone No"
      type="text"
      name="phone"
    />
    <input class="form_input" placeholder="Your Age" type="text" name="age" />
    <input
      class="form_input"
      placeholder="Select a Service"
      type="text"
      name="service"
    />
    <input
      class="form_input"
      placeholder="Select a date"
      type="date"
      name="date"
    />
    <button class="accentButton mt-[25px]" type="submit"
      >Make an Appoinment</button
    >
  </form>
  <style>
    .form_input {
      width: 40%;
      background-color: #ccc;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 8px;
      &:hover {
        background-color: #fbf3f7;
        border-color: #f55b79;
      }
      &:focus {
        outline: 1px solid #f55b79;
      }
    }
  </style>
</section>
