---

---

<section class="text-center py-[70px] px-[60px] flex flex-col items-center">
  <p class="sectionTitle">APPOINMENT</p>
  <h2 class="title mt-[20px]">Make an appoinment</h2>
  <form
    action=""
    class="flex gap-10 flex-wrap px-[100px] py-[50px] justify-center"
  >
    <input
      class="bg-[#ccc] px-3 py-3 border border-[#ccc] hover:bg-pinkLight hover:border-accent w-2/5 rounded-lg"
      placeholder="Your name"
      type="text"
      name="name"
    />
    <input
      class="bg-[#ccc] px-3 py-3 border border-[#ccc] hover:bg-pinkLight hover:border-accent w-2/5 rounded-lg"
      placeholder="Your e-mail"
      type="email"
      name="email"
    />
    <input
      class="bg-[#ccc] px-3 py-3 border border-[#ccc] hover:bg-pinkLight hover:border-accent w-2/5 rounded-lg"
      placeholder="Your Phone No"
      type="text"
      name="phone"
    />
    <input
      class="bg-[#ccc] px-3 py-3 border border-[#ccc] hover:bg-pinkLight hover:border-accent w-2/5 rounded-lg"
      placeholder="Your Age"
      type="text"
      name="age"
    />
    <input
      class="bg-[#ccc] px-3 py-3 border border-[#ccc] hover:bg-pinkLight hover:border-accent w-2/5 rounded-lg"
      placeholder="Select a Service"
      type="text"
      name="service"
    />
    <input
      class="bg-[#ccc] px-3 py-3 border border-[#ccc] hover:bg-pinkLight hover:border-accent w-2/5 rounded-lg"
      placeholder="Select a date"
      type="date"
      name="date"
    />
    <button class="accentButton mt-[25px]" type="submit"
      >Make an Appoinment</button
    >
  </form>
</section>
