<section class="text-center py-[70px]">
  <p class="sectionTitle">BEST SELLERS</p>
  <h2 class="title">Our featured beauty treatment</h2>
  <ul class="flex gap-3">
    <li class="rounded-[5px] bg-black">
      <div>image</div>
      <h3 class="font-bold">Heir Rebonding</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <p class="sectionTitle">$250</p>
    </li>
    <li class="border bg-black">
      <div>image</div>
      <h3 class="font-bold">Heir Rebonding</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <p class="sectionTitle">$250</p>
    </li>
    <li class="border bg-black">
      <div>image</div>
      <h3 class="font-bold">Heir Rebonding</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <p class="sectionTitle">$250</p>
    </li>
  </ul>
</section>
