---

const bestSellers = [
  {
    section: "faceTreatments",
    items: [
      { title: "Makijaż okazjonalny", price: "150zł" },
      { title: "", price: "" },

      { title: "Zabiegi na twarz:", price: "" },
      { title: "", price: "" },

      {
        title:
          "Zabiegi dopasowywuję do indywidualnych potrzeb skóry, po jej diagnozie, można je łączyć, zmieniać. Skontaktuj się ze mną, aby uzyskać spersonalizowane porady w sprawie pielęgnacji.",
        price: "",
      },
      { title: "", price: "" },

      { title: "Oczyszczanie wodorowe w terapiach łączonych:", price: "180zł" },
      { title: "Mezoterapia mikroigłowa z ampułką:", price: "180zł" },
      { title: "Mezoterapia mikroigłowa z falą radiową:", price: "300zł" },
      { title: "Fala radiowa na twarz:", price: "180zł" },
      { title: "Fala radiowa całość (twarz, szyja, dekolt):", price: "220zł" },
      { title: "", price: "" },

      {
        title:
          "Zabiegi pielęgnacyjne nawilżające, ujędrniające, przeciwzmarszczkowe, rozświetlające, wzmacniające naczynka (peeling + masaż twarzy + maska):",
        price: "150zł",
      },
      { title: "", price: "" },

      { title: "Peelingi kawitacyjne z ampułką i maską:", price: "170zł" },
      { title: "Kwasy i maska:", price: "100zł" },
    ],
  },

  {
    section: "bodyTreatments",
    items: [
      { title: "Zabiegi na ciało", price: "" },
      { title: "", price: "" },

      { title: "Liposukcja ultradźwiękowa (strefa):", price: "150zł" },
      { title: "", price: "" },

      { title: "Brwi oraz rzęsy", price: "" },
      { title: "", price: "" },

      { title: "Regulacja brwi:", price: "20zł" },
      { title: "Henna pudrowa z regulacją:", price: "80zł" },
      { title: "Henna rzęs:", price: "40zł" },
      { title: "Laminacja brwi:", price: "120zł" },
      { title: "Laminacja rzęs:", price: "130zł" },
      { title: "", price: "" },

      { title: "Rzęsy", price: "" },
      { title: "", price: "" },

      { title: "1:1", price: "130/110zł" },
      { title: "2D", price: "140/120zł" },
      { title: "3D", price: "150/130zł" },
      { title: "4D", price: "160/140zł" },
      { title: "5D", price: "170/150zł" },
      { title: "6D", price: "180/160zł" },
    ],
  },

  {
    section: "waxTreatments",
    items: [
      { title: "Wosk", price: "" },
      { title: "", price: "" },

      { title: "Górna warga:", price: "20zł" },
      { title: "Twarz:", price: "50zł" },
      { title: "Pachy:", price: "60zł" },
      { title: "Ręce:", price: "60zł" },
      { title: "", price: "" },

      { title: "Manicure klasyczny:", price: "50zł" },
      { title: "Manicure hybrydowy:", price: "60zł" },
      { title: "Manicure żelowy z przedłużeniem:", price: "90zł" },
      { title: "Zabieg pielęgnacyjny na dłonie:", price: "60zł" },
      { title: "Zabieg pielęgnacyjny na stopy:", price: "60zł" },
    ],
  },
];

const boldTitles = [
  "Zabiegi na twarz:",
  "Zabiegi na ciało",
  "Brwi oraz rzęsy",
  "Rzęsy",
  "Wosk",
];

const pinkText =
  "Zabiegi dopasowywuję do indywidualnych potrzeb skóry, po jej diagnozie, można je łączyć, zmieniać. Skontaktuj się ze mną, aby uzyskać spersonalizowane porady w sprawie pielęgnacji.";
---

<ul class="grid grid-cols-3 max-desktop:grid-cols-2 max-tablet:grid-cols-1 gap-4 mt-12">
  {
    bestSellers.map(({ items },index) => (
    <li
      class={`rounded-lg bg-white text-stone-600 shadow-lg ${index === 2 ? "tablet:mx-auto tablet:col-span-2 desktop:col-span-1 tablet:w-full" : ''}`}
    >
        <ul>
          {items.map(({ title, price }) => (
            title && (
              <li class="flex gap-4 justify-between p-[20px]">
                <h3
                  class={`text-base mb-[1px] text-left ${boldTitles.includes(title) && "font-bold"} ${title === pinkText && "text-accent"}`}
                >
                  {title}
                </h3>
                <p class="font-bold text-right text-stone-600 self-center">{price}</p>
              </li>
            )
          ))}
        </ul>
      </li>
    ))
  }
</ul>
