---
import BestSellersCardList from './BestSellersCardList.astro';
---

<section class="text-center py-[70px] px-[60px] flex flex-col items-center scroll-mt-20" id="bestSellers">
  <p class="sectionTitle">BEST SELLERS</p>
  <h2 class="title mt-[20px]">Our featured beauty <br /> treatment</h2>
  <BestSellersCardList />
</section>
