---
import BestSellersCardList from './BestSellersCardList.astro';
---

<section class="text-center py-10 px-6 flex flex-col items-center scroll-mt-24" id="prices">
  <p class="text-accent text-3xl font-[Lora]">Cennik</p>
  <h2 class="title mt-[20px]">Bo przecież uroda jest bezcenna</h2>
  <BestSellersCardList />
</section>
