---
import BestSellersCardList from './BestSellersCardList.astro';
---

<section class="text-center py-[70px] px-[60px] flex flex-col items-center scroll-mt-20" id="prices">
  <p class='text-accent text-2xl'>Cennik</p>
  <h2 class="title mt-[20px]">Bo przecież uroda jest bezcenna</h2>
  <BestSellersCardList />
</section>
