---
import { Image } from "astro:assets";
import logo from "../images/logo.png";
import { PHONE_NUMBER } from "../constants";
import develoartLogo from "../images/develoartLogo.png";
---

<footer class="flex flex-col gap-12 bg-mainBackgroud p-6 pt-2 tablet:p-12 tablet:pt-4">
  <div class="flex items-center justify-center gap-0 tablet:gap-4 tablet:flex-row flex-col">
    <div>
      <a href="#">
        <Image
          src={logo}
          alt="logo"
          loading="lazy"
          width="200"
          class="max-w-[120px] tablet:max-w-[160px]"
        />
      </a>
    </div>
    <p class="text-xl italic font-[Lora] text-center px-8 tablet:px-0">
      Salon piękności w twojej okolicy, który podkreśli Twoje piękno
    </p>
  </div>
  <div class="flex justify-between flex-col tablet:flex-row tablet:gap-0 gap-4">
    <div class="flex flex-[3] justify-between desktop:justify-around flex-wrap gap-8">
      <div class="flex flex-col gap-4">
        <h2 class="text-2xl">Nawigacja</h2>
        <ul class="gap-2 flex flex-col text-darkGray">
          <li class="hover:text-accent">
            <a class="block" href="#">Strona Główna</a>
          </li>
          <li class="hover:text-accent">
            <a class="block" href="#aboutUs">O nas</a>
          </li>
          <li class="hover:text-accent">
            <a class="block" href="#services">Usługi</a>
          </li>
          <li class="hover:text-accent">
            <a class="block" href="#prices">Cennik</a>
          </li>
        </ul>
      </div>
      <div class="flex flex-col gap-4">
        <h2 class="text-2xl">Linki</h2>
        <ul class="gap-2 flex flex-col text-darkGray">
          <li class="hover:text-accent">
            <a
              class="block"
              href="https://www.facebook.com/profile.php?id=61557345552094&locale=pl_PL"
              target="_blank"
            >Facebook</a>
          </li>
          <li class="hover:text-accent">
            <a class="block" href="">Opinie</a>
          </li>
          <li class="hover:text-accent">
            <a class="block" href="">Gdzie nas znaleźć</a>
          </li>
        </ul>
      </div>
      <address>
        <a
          class="hover:text-accent block"
          href=`tel:${PHONE_NUMBER}`
          aria-label="phone number"
        >Tel. + <b>48 {PHONE_NUMBER}</b></a>
      </address>
    </div>
    <a href="https://develoart.com/" target="_blank" class="block  flex-1">
      <div class="text-gray flex flex-col items-center">
        <Image
          src={develoartLogo}
          alt="develoart"
          loading="lazy"
          width="50"
        />
        <p class="text-center text-xs desktop:text-sm">
          Strona stworzona przez<br />zespół DeveloArt
        </p>
      </div>
    </a>
  </div>
</footer>
