---
import { Image } from "astro:assets";
import logo from "../images/logo.png";
import { PHONE_NUMBER } from "../constants";
import develoartLogo from "../images/develoartLogo.png";
---

<footer class="flex bg-lightPink p-16 justify-between items-center space-x-50">
  <div class="text-darkGray flex flex-col items-center mr-20">
    <a href="#"> <Image src={logo} alt="logo" loading="lazy" width="200" /></a>
    <p class="mt-[10px] leading-loose">
      Salon piękności w twojej okolicy, <br /> który podkreśli Twoje piękno
    </p>
    <address class="flex flex-col mt-1 self-start">
      <a
        class="hover:text-accent not-italic"
        href=`tel:${PHONE_NUMBER}`
        aria-label="phone number">tel. + <b>48 {PHONE_NUMBER}</b></a
      >
    </address>
  </div>

  <div class="flex flex-start mt-auto space-x-20">
    <div class="mr-20 ml-50">
      <h2 class="text-darkGray font-normal text-[25px]">Nawigacja</h2>
      <ul class="mt-[15px] gap-1 flex flex-col text-darkGray">
        <li class="hover:text-accent">
          <a href="#">Strona Główna</a>
        </li>
        <li class="hover:text-accent">
          <a href="#aboutUs">O nas</a>
        </li>
        <li class="hover:text-accent"><a href="#services">Usługi</a></li>
        <li class="hover:text-accent"><a href="#prices">Cennik</a></li>
      </ul>
    </div>
    <div class="ml-10 mr-0">
      <h2 class="text-darkGray font-normal text-[25px]">Linki</h2>
      <ul class="mt-[15px] gap-1 flex flex-col text-darkGray">
        <li class="hover:text-accent">
          <a
            href="https://www.facebook.com/profile.php?id=61557345552094&locale=pl_PL"
            target="_blank">Facebook</a
          >
        </li>
        <li class="hover:text-accent"><a href="">Opinie</a></li>
        <li class="hover:text-accent">
          <a href="">Gdzie nas znaleźć</a>
        </li>
      </ul>
    </div>
  </div>

  <a href="https://develoart.com/" target="_blank" class="block self-end">
    <div class="text-gray flex flex-col items-center">
      <Image src={develoartLogo} alt="develoart" loading="lazy" width="50" />
      <p class="mt-[10px] text-center">
        Strona stworzona przez<br />zespół DeveloArt
      </p>
    </div>
  </a>
</footer>
