---
import { Image } from "astro:assets";
import logo from "../images/logo.png";
import { PHONE_NUMBER } from "../constants";
import develoartLogo from "../images/develoartLogo.png";
---

<footer
  class="flex bg-mainBackgroud desktop:p-16 desktop:pt-2 justify-between items-center mobile:p-3 desktop:text-[16px] mobile:text-[12px]"
>
  <div
    class="text-darkGray flex flex-col items-center desktop:mr-20 mobile:mr-4"
  >
    <a href="#">
      <Image
        src={logo}
        alt="logo"
        loading="lazy"
        width="200"
        class="desktop:size-40 mobile:size-20"
      /></a
    >
    <p
      class="mt-[10px] desktop:leading-loose mobile:leading-normal mobile:text-balance desktop:text-[16px] mobile:text-[10px] tablet:text-[12px]"
    >
      Salon piękności w twojej okolicy, <br />który podkreśli Twoje piękno
    </p>
    <address class="flex flex-col mt-1 self-start">
      <a
        class="hover:text-accent not-italic"
        href=`tel:${PHONE_NUMBER}`
        aria-label="phone number">tel. + <b>48 {PHONE_NUMBER}</b></a
      >
    </address>
  </div>

  <div
    class="flex flex-start desktop:mt-auto desktop:space-x-20 mobile:space-x-0 mobile:mt-0 mobile:self-auto tablet:self-end"
  >
    <div
      class="desktop:mr-20 desktop:ml-50 mobile:mr-4 mobile:ml-0 tablet:mr-20 tablet:ml-0"
    >
      <h2
        class="text-darkGray font-normal desktop:text-[25px] mobile:text-[18px]"
      >
        Nawigacja
      </h2>
      <ul class="mt-[15px] gap-1 flex flex-col text-darkGray">
        <li class="hover:text-accent">
          <a href="#">Strona Główna</a>
        </li>
        <li class="hover:text-accent">
          <a href="#aboutUs">O nas</a>
        </li>
        <li class="hover:text-accent"><a href="#services">Usługi</a></li>
        <li class="hover:text-accent"><a href="#prices">Cennik</a></li>
      </ul>
    </div>
    <div class="ml-10 mr-0">
      <h2
        class="text-darkGray font-normal desktop:text-[25px] mobile:text-[18px]"
      >
        Linki
      </h2>
      <ul class="mt-[15px] gap-1 flex flex-col text-darkGray">
        <li class="hover:text-accent">
          <a
            href="https://www.facebook.com/profile.php?id=61557345552094&locale=pl_PL"
            target="_blank">Facebook</a
          >
        </li>
        <li class="hover:text-accent"><a href="">Opinie</a></li>
        <li class="hover:text-accent">
          <a href="">Gdzie nas znaleźć</a>
        </li>
      </ul>
    </div>
  </div>

  <a
    href="https://develoart.com/"
    target="_blank"
    class="block desktop:self-end mobile:self-auto"
  >
    <div class="text-gray flex flex-col items-center">
      <Image
        src={develoartLogo}
        alt="develoart"
        loading="lazy"
        width="50"
        class="desktop:w-20 mobile:w-10"
      />
      <p class="mt-[10px] text-center desktop:text-[12px] mobile:text-[8px]">
        Strona stworzona przez<br />zespół DeveloArt
      </p>
    </div>
  </a>
</footer>
