<div class="flex justify-between items-center mt-[100px]">
  <div class="w-1/3">
    <p class="text-accent font-bold">SPA & BEAUTY SALON</p>
    <h1 class="text-[30px] font-bold">Make Your Skin Shine & Glowing</h1>
    <p class="text-gray">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum debitis
      blanditiis.
    </p>
    <button
      class="mt-[30px] bg-accent text-white px-[25px] py-[15px] rounded-[10px]"
      >Book Now</button
    >
  </div>
  <div
    class="text-center border-[2px] px-[25px] py-[35px] border-accent rounded-tl-[20px] rounded-br-[20px]"
  >
    <h2 class="text-lg">Opening Hour</h2>
    <ul class="mt-[15px]">
      <li>Mon-Fri: <span class="font-bold">9 AM- 6 PM</span></li>
      <li>Saturday: <span class="font-bold">9 AM- 4 PM</span></li>
      <li>Sunday: <span class="font-bold">Closed</span></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>
