---
import { Image } from 'astro:assets';
import heroWoman from '../images/hero-bg.png';
import { PHONE_NUMBER, ADRESS } from '../constants';
---

<section class="tablet:bg-hero-wave tablet:bg-cover tablet:bg-center flex gap-10 items-center justify-between desktop:min-h-screen mt-10 px-10 max-desktop:py-20 relative overflow-hidden max-tablet:flex-col max-tablet:py-7">
  <div class="flex flex-1 flex-col gap-6 relative min-w-[300px] z-[1]">
    <p class="text-3xl text-accent font-[Lora]">SPA & Pielęgnacja</p>
    <h1 class="text-2xl tablet:text-5xl font-semibold">
      Nadaj swojej skórze<br>blasku i zdrowego wyglądu.
    </h1>
    <p class="tablet:text-xl text-base">
      Osiągnij promienną i zdrowo wyglądającą skórę dzięki sprawdzonym metodom pielęgnacji.
      Pozwól swojej naturalnej urodzie zabłysnąć, czując się pewniej i piękniej każdego dnia!
    </p>
    <button id="reserveButton" class="accentButton self-start mt-4 py-3 text-xl max-tablet:hidden" aria-label="Zarezerwuj wizytę">
      Zarezerwuj wizytę
    </button>
  </div>
    <div class="self-end max-tablet:hidden">
      <Image loading='eager' class="large:block hidden" src={heroWoman} alt="Background woman" />
    </div>
    <div class="relative text-center border-4 rounded-xl border-accent bg-pinkLight self-center p-6 min-w-fit max-desktop:h-26 max-tablet:h-fit max-tablet:w-full">
      <div class="max-tablet:hidden absolute bottom-6 left-6 w-full h-full border-4 rounded-xl border-accent opacity-50 -z-10">
      </div>
      <h2 class="text-lg">Jesteśmy otwarci:</h2>
      <ul class="mt-2 flex flex-col gap-2">
        <li>Pon-pt: <span class="font-bold">8:00 - 18:00</span></li>
        <li>Sobota: <span class="font-bold">8:00 - 16:00</span></li>
        <li>Niedziela: <span class="font-bold">Godziny nieregularne</span></li>
        <li id="phoneNumber">tel: <span class="font-bold">+48 {PHONE_NUMBER}</span></li>
        <li class="font-bold">{ADRESS}</li>
      </ul>
  </div>
  <div class="tablet:hidden max-tablet:w-full">
    <button id="reserveButton" class="accentButton self-start my-4 py-3 text-xl w-full" aria-label="Zarezerwuj wizytę">
      Zarezerwuj wizytę
    </button>
  </div>
</section>

<script>
import { PHONE_NUMBER } from "../constants";

  const temporaryPhoneAnimation = ['scale-125'];
  const phoneNumberElement = document.getElementById('phoneNumber');

  const handleButtonClick = () => {
    if (window.matchMedia('(max-width: 768px)').matches) {
      window.location.href = `tel:${PHONE_NUMBER}`;
    } else {
      phoneNumberElement.classList.add(...temporaryPhoneAnimation);
      setTimeout(() => {
        phoneNumberElement.classList.remove(...temporaryPhoneAnimation);
      }, 500);
    }
  };

  document.getElementById('reserveButton').addEventListener('click', handleButtonClick);
</script>
