---
import { Image } from 'astro:assets';
import logo from '../images/logo.png';
---

<div class='max-tablet:hidden sticky top-0 z-10'>
	<nav
		class='flex justify-between relative items-center border-pink border-t-0 bg-mainBackgroud rounded-b-2xl p-5'
	>
		<ul class='p-0 flex text-[#3e2c26]'>
			<li class='hover:text-pink transition-colors duration-200 p-2'>
				<a href='#'>Strona główna</a>
			</li>
			<li
				class='ml-[25px] p-2 hover:text-pink transition-colors duration-200 aboutUs'
			>
				<a href='#aboutUs'>O nas</a>
			</li>
			<li
				class='ml-[25px] p-2 hover:text-pink transition-colors duration-200 services'
			>
				<a href='#services'>Usługi</a>
			</li>
			<li
				class='ml-[25px] p-2 hover:text-pink transition-colors duration-200 prices'
			>
				<a href='#prices'>Cennik</a>
			</li>
		</ul>
		<a
			href='/'
			class='absolute -top-8 left-1/2 -translate-x-1/2 z-10 w-[200px] max-desktop:hidden transition-transform ease-in-out'
			id='logo'
		>
			<Image src={logo} alt='logo' />
		</a>
		<ul class='p-0 flex'>
			<li class='ml-[25px] hover:text-pink transition-colors duration-200 p-2'>
				<a href='/'>Kontakt</a>
			</li>
		</ul>
	</nav>
</div>

<div class='tablet:hidden fixed top-8 right-8 z-20'>
	<div class='tham tham-e-squeeze tham-w-9'>
		<div class='tham-box'>
			<div class='tham-inner'></div>
		</div>
	</div>
</div>
<nav
	id='mobile-menu'
	class='tablet:hidden fixed w-full h-full top-0 left-0 flex flex-col justify-center items-center bg-white z-10 transition-transform -translate-y-full duration-300'
>
	<a href='/'>
		<Image id='mobile-logo' class='w-[200px]' src={logo} alt='logo' />
	</a>
	<ul class='w-screen h-screen flex flex-col items-center text-dark text-lg'>
		<li class='hover:text-accent transition-colors duration-200 mobile-link'>
			<a class='p-4 block' href='#'>Strona główna</a>
		</li>
		<li class='hover:text-accent transition-colors duration-200 mobile-link'>
			<a class='p-4 block' href='#aboutUs'>O nas</a>
		</li>
		<li class='hover:text-accent transition-colors duration-200 mobile-link'>
			<a class='p-4 block' href='#services'>Usługi</a>
		</li>
		<li class='hover:text-accent transition-colors duration-200 mobile-link'>
			<a class='p-4 block' href='#prices'>Cennik</a>
		</li>
	</ul>
</nav>

<script>
	const sections = document.querySelectorAll('section');
	const navLi = document.querySelectorAll('nav ul li');
	const nav = document.querySelector('nav');
	const scrollThreshold = 50;
	const logo = document.querySelector('#logo');
	window.onscroll = () => {
		var current = '';

		sections.forEach((section) => {
			const sectionTop = section.offsetTop;
			if (scrollY >= sectionTop - 180) {
				current = section.getAttribute('id');
			}
		});

		navLi.forEach((li) => {
			li.classList.remove('text-pink');
			if (li.classList.contains(current)) {
				li.classList.add('text-pink');
			}
		});

		if (scrollY > scrollThreshold && !nav.classList.contains('border-2')) {
			nav.classList.add('border-2');
			logo.classList.add('scale-75');
		} else if (
			scrollY <= scrollThreshold &&
			nav.classList.contains('border-2')
		) {
			nav.classList.remove('border-2');
			logo.classList.remove('scale-75');
		}
	};

	const hamburger = document.querySelector('.tham');
	const mobileMenu = document.getElementById('mobile-menu');

	function closeMobileMenu() {
		if (!mobileMenu.classList.contains('-translate-y-full')) {
			mobileMenu.classList.add('-translate-y-full');
			hamburger.classList.toggle('tham-active');
		}
	}

	hamburger.addEventListener('click', () => {
		hamburger.classList.toggle('tham-active');
		if (mobileMenu.classList.contains('-translate-y-full')) {
			mobileMenu.classList.remove('-translate-y-full');
		} else {
			mobileMenu.classList.add('-translate-y-full');
		}

		const mobileLinks = document.querySelectorAll('.mobile-link');
		mobileLinks.forEach((mobileLink) => {
			mobileLink.addEventListener('click', closeMobileMenu);
		});
		const mobileLogo = document.getElementById('mobile-logo');
		mobileLogo.addEventListener('click', closeMobileMenu);
	});
</script>
