<nav class="flex justify-between">
  <ul class="p-0 flex text-[#3e2c26]">
    <li class="">
      <a class="" href="#">Home</a>
    </li>
    <li class="ml-[25px]">
      <a class="" href="#">About Us</a>
    </li>
    <li class="ml-[25px]">
      <a class="" href="#">Services</a>
    </li>
    <li class="ml-[25px]">
      <a class="" href="#">Feature</a>
    </li>
  </ul>

  <ul class="p-0 flex">
    <li class="">
      <a class="" href="#">Testimonial</a>
    </li>
    <li class="ml-[25px]">
      <a class="" href="#">Contact</a>
    </li>
  </ul>
</nav>
