---
import { Image } from 'astro:assets';
import logo from '../images/logo.png';
---

<nav class="flex justify-between relative items-center">
  <ul class="p-0 flex text-[#3e2c26]">
    <li>
      <a href="/">Home</a>
    </li>
    <li class="ml-[25px]">
      <a href="#aboutUs">About Us</a>
    </li>
    <li class="ml-[25px]">
      <a href="#services">Services</a>
    </li>
    <li class="ml-[25px]">
      <a href="/">Feature</a>
    </li>
  </ul>
  <Image
    class="absolute left-1/2 -translate-x-1/2 w-[200px] mt-12"
    src={logo}
    alt="logo"
  />
  <ul class="p-0 flex">
    <li>
      <a href="/">Testimanial</a>
    </li>
    <li class="ml-[25px]">
      <a href="/">Contact</a>
    </li>
  </ul>
</nav>
