<nav class="flex justify-between">
  <ul class="p-0 flex text-[#3e2c26]">
    <li>
      <a href="/">Home</a>
    </li>
    <li class="ml-[25px]">
      <a href="#aboutUs">About Us</a>
    </li>
    <li class="ml-[25px]">
      <a href="#services">Services</a>
    </li>
    <li class="ml-[25px]">
      <a href="/">Feature</a>
    </li>
  </ul>

  <ul class="p-0 flex">
    <li>
      <a href="/">Testimanial</a>
    </li>
    <li class="ml-[25px]">
      <a href="/">Contact</a>
    </li>
  </ul>
</nav>
