---
import { Image } from 'astro:assets';
import logo from '../images/logo.png';
---

<nav class="flex justify-between relative items-center">
  <ul class="p-0 flex text-[#3e2c26]">
    <li class=" hover:text-pink transition-colors duration-300">
      <a href="/">Strona główna</a>
    </li>
    <li class="ml-[25px] hover:text-pink transition-colors duration-300">
      <a href="#aboutUs">O nas</a>
    </li>
    <li class="ml-[25px] hover:text-pink transition-colors duration-300">
      <a href="#services">Usługi</a>
    </li>
    <li class="ml-[25px] hover:text-pink transition-colors duration-300">
      <a href="/">Cennik</a>
    </li>
  </ul>
  <Image
    class="absolute left-1/2 -translate-x-1/2 w-[200px] mt-12"
    src={logo}
    alt="logo"
  />
  <ul class="p-0 flex">
    <li class=" hover:text-pink transition-colors duration-300">
      <a href="/">Testimanial</a>
    </li>
    <li class="ml-[25px]  hover:text-pink transition-colors duration-300">
      <a href="/">Kontakt</a>
    </li>
  </ul>
</nav>
