---
import ServiceCardItem from './ServiceCardItem.astro';
import Eyelashes from "../icons/Eyelashes.png"
import Nail from "../icons/Nail.png"
import Eyebrow from "../icons/Eyebrow.png"
import Body from "../icons/Body.png"
import Face from "../icons/Face.png"
import Foot from "../icons/Foot.png"
const servicesList = [
  {
    icon: Eyelashes,
    description:
      'Podkreśl swoje spojrzenie moimi usługami związanymi z rzęsami. Oferuję profesjonalne zabiegi przedłużania, zagęszczania i laminacji, które dodadzą Twoim oczom wyjątkowy urok.',
  },
  {
    icon: Nail,
    description:
      'Zapewnij swoim dłoniom profesjonalny   manicure oferowany w salonie. Poza zabiegami pielęgnacyjnymi wykonuję także manicure klasyczny, hybrydowy oraz przedłużanie paznokci z użyciem żelu. ',
  },
  {
    icon: Eyebrow,
    description:
      'Zapewnij swoim brwiom najwyższy poziom pielęgnacji i stylizacji dzięki usługom oferowanym w salonie. Moje doświadczenie pozwoli Ci osiągnąć idealny kształt i kolor brwi, dopasowany do Twojego indywidualnego stylu i preferencji.',
  },
  {
    icon: Body,
    description:
      'Nowoczesny zabieg liposukcji pozwala na osiągnięcie wymarzonej sylwetki  dzięki działaniom fal ultradziwiękowych. Twoje ciało będzie promienieć zdrowiem i urodą, zapewniając kompleksową odnowę i relaks.',
  },
  {
    icon: Face,
    description:
      'Zapewniam  zabiegi pielęgnacyjne, które odżywią i odświeżą Twoją skórę. Dzięki indywidualnemu podejściu i profesjonalnemu doświadczeniu, gwarantuję efektywną pielęgnację, która sprawi, że poczujesz się pięknie i pewna siebie.',
  },
  {
    icon: Foot,
    description:
      'Zanurz swoje stopy w luksusie naszych zindywidualizowanych zabiegów. Oferuję profesjonalne usługi, które odświeżą, zrelaksują i odprężą Twoje zmęczone stopy. Skóra nabierze gładkości i sprężystości, a paznokcie odżywienia i wzmocnienia.',
  },
];
---

<section
  id="services"
  class="text-center flex flex-col items-center px-4 py-10 desktop:mx-10 scroll-mt-10"
>
  <p class="text-accent text-3xl font-[Lora]">Usługi</p>
  <h2 class="title w-1/2 mt-[20px] max-mobile:w-full max-tablet:w-[80%] max-desktop:w-[60%]">
    Nasz talent pozwoli Ci odkryć swoje naturalne piękno.
  </h2>
  <ul class="max-desktop:flex max-desktop:flex-wrap max-desktop:justify-center desktop:grid desktop:grid-cols-3 gap-8 mt-[50px]">
    {
      servicesList.map(({ icon, description }) => (
        <ServiceCardItem icon={icon} description={description} />
      ))
    }
  </ul>
</section>
