---
interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<li
  class="w-[32%] flex flex-col items-center bg-white shadow-xl px-[20px] py-[40px]"
>
  <div class="w-[45px] h-[45px] bg-accent"></div>
  <h3 class="font-bold mt-[15px]">{title}</h3>
  <p class="font-light mt-[15px]">
    {description}
  </p>
</li>
