---
import { Image } from "astro:assets";
interface Props {
  icon: ImageMetadata;
  description: string;
}
const { icon, description } = Astro.props;
---

<li
  class="flex flex-col items-center bg-white shadow-xl px-[20px] py-[40px] my-4 rounded-[22px] max-desktop:w-[80%] max-mobile:w-full desktop:w-full"
>
  <div class="w-[45px] h-[45px] "> <Image loading="lazy" src={icon} alt="ikona"/> </div>
  <p class="font-light mt-[15px]">
    {description}
  </p>
</li>
