---
import ServiceCardItem from './ServiceCardItem.astro';
const servicesList = [
  {
    title: 'HAIR TREATMENT',
    description:
      ' Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem, hic blanditiis. Voluptates',
  },
  {
    title: 'MAKU-UP',
    description:
      ' Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem, hic blanditiis. Voluptates',
  },
  {
    title: 'MENI/PEDI SERVICES',
    description:
      ' Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem, hic blanditiis. Voluptates',
  },
  {
    title: 'PARTY/WEDDING EVENT',
    description:
      ' Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem, hic blanditiis. Voluptates',
  },
  {
    title: 'COSMETIC SERVICES',
    description:
      ' Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem, hic blanditiis. Voluptates',
  },
  {
    title: 'MASSAGE SERVICES',
    description:
      ' Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem, hic blanditiis. Voluptates',
  },
];
---

<section
  id="services"
  class="text-center flex flex-col items-center bg-pinkLight py-[70px] px-[60px]"
>
  <p class="sectionTitle">SERVICES</p>
  <h2 class="title w-1/3 mt-[20px]">
    We experienced in making you more beautiful
  </h2>
  <ul class="flex flex-wrap gap-[30px] justify-center mt-[50px]">
    {
      servicesList.map(({ title, description }) => (
        <ServiceCardItem title={title} description={description} />
      ))
    }
  </ul>
</section>
