---
import Header from '../components/Header.astro';
import AboutUs from '../components/AboutUs.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main>
      <AboutUs />
      <section class="services text-center">
        <p class="sectionTitle">SERVICES</p>
        <h2 class="title">We experienced in making you more beautiful</h2>
        <ul class="flex">
          <li class="flex flex-col items-center">
            <div class="w-[30px] h-[30px] bg-accent">sss</div>
            <h3 class="font-bold">HAIR TREATMENT</h3>
            <p class="">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Error
              adipisci natus culpa molestiae dolor cupiditate, reiciendis
              impedit repellat fugiat. A, odit.
            </p>
          </li>
          <li class="flex flex-col items-center">
            <div class="w-[30px] h-[30px] bg-accent">sss</div>
            <h3 class="font-bold">HAIR TREATMENT</h3>
            <p class="">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Error
              adipisci natus culpa molestiae dolor cupiditate, reiciendis
              impedit repellat fugiat. A, odit.
            </p>
          </li>
          <li class="flex flex-col items-center">
            <div class="w-[30px] h-[30px] bg-accent">sss</div>
            <h3 class="font-bold">HAIR TREATMENT</h3>
            <p class="">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Error
              adipisci natus culpa molestiae dolor cupiditate, reiciendis
              impedit repellat fugiat. A, odit.
            </p>
          </li>
          <li class="flex flex-col items-center">
            <div class="w-[30px] h-[30px] bg-accent">sss</div>
            <h3 class="font-bold">HAIR TREATMENT</h3>
            <p class="">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Error
              adipisci natus culpa molestiae dolor cupiditate, reiciendis
              impedit repellat fugiat. A, odit.
            </p>
          </li>
          <li class="flex flex-col items-center">
            <div class="w-[30px] h-[30px] bg-accent">sss</div>
            <h3 class="font-bold">HAIR TREATMENT</h3>
            <p class="">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Error
              adipisci natus culpa molestiae dolor cupiditate, reiciendis
              impedit repellat fugiat. A, odit.
            </p>
          </li>
          <li class="flex flex-col items-center">
            <div class="w-[30px] h-[30px] bg-accent">sss</div>
            <h3 class="font-bold">HAIR TREATMENT</h3>
            <p class="">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Error
              adipisci natus culpa molestiae dolor cupiditate, reiciendis
              impedit repellat fugiat. A, odit.
            </p>
          </li>
        </ul>
      </section>
      <section class="banner"></section>
      <section class="bestSellers"></section>
      <section class="ourExperts"></section>
      <section class="testinaial"></section>
      <section class="appoinment"></section>
      <section class="newsFeed"></section>
      <footer class="newsFeed"></footer>
    </main>
    <!-- <slot /> -->
  </body>
  <style is:global>
    :root {
      --accent: 136, 58, 234;
      --accent-light: 224, 204, 250;
      --accent-dark: 49, 10, 101;
      --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
      );
    }
    html {
      /* font-family: system-ui, sans-serif; */
      /* background: #13151a; */
      /* background-size: 224px; */
      ul {
        list-style-type: none;
      }
      a {
        text-decoration: none;
      }
    }
    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }
  </style>
</html>
