---
import NavBar from '../components/NavBar.astro';
import Hero from '../components/Hero.astro';
import AboutUs from '../components/AboutUs.astro';
import Services from '../components/Services.astro';
import BestSellers from '../components/BestSellers.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header class="px-[60px] mx-auto pt-[45px]">
      <NavBar />
      <Hero />
    </header>
    <main class="px-[60px] mx-auto">
      <AboutUs />
      <Services />
      <section class="banner"></section>
      <BestSellers />
      <section class="ourExperts"></section>
      <section class="testinaial"></section>
      <section class="appoinment"></section>
      <section class="newsFeed"></section>
      <footer class="newsFeed">
        <div>
          <p>A perfect beauty salon near you to make you more beautiful</p>
          <address>
            <a href="tel:333333333" aria-label="phone number">333 333 333</a>
            <a href="mailto:salon@gmail.com" aria-label="email"
              >salon@gmail.com</a
            >
          </address>
        </div>
        <div></div>
        <div></div>
        <div></div>
      </footer>
    </main>
  </body>
</html>
