---
import NavBar from "../components/NavBar.astro";
import Hero from "../components/Hero.astro";
import AboutUs from "../components/AboutUs.astro";
import Services from "../components/Services.astro";
import BestSellers from "../components/BestSellers.astro";
import Footer from "../components/Footer.astro";
// import Appoinment from '../components/Appoinment.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header class="px-[100px] mx-auto pt-[45px]"></header>
    <main class="px-[60px] mx-auto max-desktop:px-1">
      <NavBar />
      <Hero />
      <AboutUs />
      <Services />
      <section class="banner"></section>
      <BestSellers />
      <section class="ourExperts"></section>
      <section class="testinaial"></section>
      <!-- <Appoinment /> -->
      <section class="newsFeed"></section>

      <Footer />
    </main>
  </body>
  <style>
    body {
      margin-left: auto;
      margin-right: auto;
    }
  </style>
</html>
